---
layout: side-project
permalink: /ingamebeer/
logo: /imgs/ingamebeer.png
---

<div class="home full">

    {% assign gamebeers = site.data.ingamebeer | sort: "beer" %}
    
    {% for gamebeer in gamebeers %}
        <div style="margin-top: 40px;">
            <h2 style="text-align: center;">
                {{ gamebeer.beer }} em 
                {% if gamebeer.game_logo %}
                    <img src="{{ gamebeer.game_logo }}" style="max-width: 150px;">
                {% else %}
                    {{ gamebeer.game }}
                {% endif %}       
            </h2>

            <div style="display:flex; flex-wrap: wrap; justify-content: center; gap: 10px; margin: auto;">
                {% for pic in gamebeer.pics %}
                    <a href="{{ pic }}">
                        <img src="{{ pic }}" width="420px" style="max-width:100%">
                    </a>
                {% endfor %}
            </div>

            <div style="display: flex; justify-content: center; align-items: center; color:gray; font-weight: normal; font-size: 0.8em; margin-top: 5px">
                Capturadas no <img src="{{ gamebeer.captured_on_logo }}" 
                    title="{{ gamebeer.captured_on }}" height="15px" style="margin: 0 3px"> 
                por
                
                {% if gamebeer.captured_by_link %}
                    <a href="{{ gamebeer.captured_by_link }}" target="_blank" style="color:gray; text-decoration: none;">
                        &nbsp;{{ gamebeer.captured_by }}
                    </a>
                {% else %}
                    {{ gamebeer.captured_by }}
                {% endif %}
            </div>
        </div>
    {% endfor %}

</div>
