---
layout: default
permalink: /jogos-terminados/
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2016-08-11T19:40:30-03:00
---
<div class="page-title">
  <img width="96" height="96" src="/imgs/icone-jogando.png"><br>
  <h1>Jogos Terminados</h1>
</div>

<div class="home">

  <div class="post" style="font-weight: normal; padding:0 20px">
    <h2 style="text-align:center; margin-top:70px">
      <img src="/imgs/tags/sega.png" title="SEGA" alt="SEGA" height="60px"/>
    </h2>
    {% include finished-games-table.html platform="ms" %}
    {% include finished-games-table.html platform="md" %}
    <h2 style="text-align:center; margin-top:70px">
      <img src="/imgs/tags/nintendo.png" title="Nintendo" alt="Nintendo" height="70px"/>
    </h2>
    {% include finished-games-table.html platform="snes" %}
    {% include finished-games-table.html platform="n64" %}
    {% include finished-games-table.html platform="gc" %}
    {% include finished-games-table.html platform="wii" %}
    {% include finished-games-table.html platform="gba" %}
    {% include finished-games-table.html platform="nds" %}
    <h2 style="text-align:center; margin-top:70px">
      <img src="/imgs/tags/sony.png" title="Sony" alt="Sony" height="40px"/>
    </h2>
    {% include finished-games-table.html platform="ps1" %}
    {% include finished-games-table.html platform="ps2" %}
    {% include finished-games-table.html platform="ps3" %}
    {% include finished-games-table.html platform="ps4" %}
    {% include finished-games-table.html platform="psp" %}
    {% include finished-games-table.html platform="vita" %}
    <h2 style="text-align:center; margin-top:70px">
      <img src="/imgs/tags/microsoft.png" title="Microsoft" alt="Microsoft" height="45px"/>
    </h2>
    {% include finished-games-table.html platform="x360" %}
    {% include finished-games-table.html platform="xone" %}
    <h2 style="text-align:center; margin-top:70px">Outras plataformas</h2>
    {% include finished-games-table.html platform="android" %}
    {% include finished-games-table.html platform="pc" %}
    <small>*Data da primeira vez terminado após o levantamento da lista inicial.</small>

    <h2 style="text-align:center; margin-top:100px">JOGOS TERMINADOS POR ANO</h2>
    <canvas id="chart-by-year"></canvas>

    <h2 style="text-align:center; margin-top:50px">JOGOS TERMINADOS POR PLATAFORMA</h2>
    <canvas id="chart-by-platform"></canvas>

  </div>

  {% include googleads.html %}

</div>

{% include side-menu.html %}

<div class="wrapper">
  {% include disqus.html %}
</div>

{% assign finishedGames = site.data.finished-games %}

{% assign finishedByYear = finishedGames.stats-by-year %}
{% capture finishedByYearData %}
{{ finishedByYear.pre-2010 }},
{{ finishedByYear.y2010 }},
{{ finishedByYear.y2011 }},
{{ finishedByYear.y2012 }},
{{ finishedByYear.y2013 }},
{{ finishedByYear.y2014 }},
{{ finishedByYear.y2015 }},
{{ finishedByYear.y2016 }},
{{ finishedByYear.y2017 }},
{{ finishedByYear.y2018 }},
{{ finishedByYear.y2019 }},
{{ finishedByYear.y2020 }},
{{ finishedByYear.y2021 }},
{{ finishedByYear.y2022 }},
{{ finishedByYear.y2023 }}
{% endcapture %}

{% capture finishedByPlatform %}
{{ finishedGames.ms.size }},
{{ finishedGames.md.size }},
{{ finishedGames.snes.size }},
{{ finishedGames.n64.size }},
{{ finishedGames.gc.size }},
{{ finishedGames.wii.size }},
{{ finishedGames.gba.size }},
{{ finishedGames.nds.size }},
{{ finishedGames.ps1.size }},
{{ finishedGames.ps2.size }},
{{ finishedGames.ps3.size }},
{{ finishedGames.ps4.size }},
{{ finishedGames.psp.size }},
{{ finishedGames.vita.size }},
{{ finishedGames.x360.size }},
{{ finishedGames.xone.size }},
{{ finishedGames.android.size }},
{{ finishedGames.pc.size }}
{% endcapture %} 

<input type="hidden" id="finishedByYear" value="{{ finishedByYearData }}">
<input type="hidden" id="finishedByPlatform" value="{{ finishedByPlatform }}">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  
  const finishedByYear = toArray('finishedByYear');
  const finishedByYearLabels = [
    'pré-2010', 
    '2010', '2011', '2012', '2013', '2014', 
    '2015', '2016', '2017', '2018', '2019',
    '2020', '2021', '2022', '2023'];
  const chartByYear = document.getElementById('chart-by-year');
  createChart(chartByYear, finishedByYearLabels, finishedByYear);

  const finishedByPlatform = toArray('finishedByPlatform');
  const finishedByPlatformLabels = [
    'Master System', 'Mega Drive',
    'Super Nintendo', 'Nintendo 64', 'GameCube', 'Wii',
    'Game Boy Advance', 'Nintendo DS',
    'PlayStation', 'PlayStation 2', 'PlayStation 3', 'PlayStation 4',
    'PSP', 'PS Vita',
    'Xbox 360', 'Xbox One',
    'Android', 'PC'
  ]
  const chartByPlatform = document.getElementById('chart-by-platform');
  createChart(chartByPlatform, finishedByPlatformLabels, finishedByPlatform);

  function createChart(chart, labels, data) {
    new Chart(chart, {
      type: 'bar',
      data: {
        labels,
        datasets: [{
          data,
          borderWidth: 1
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false
          }
        },
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  }

  function toArray(elementId) {
    return document.getElementById(elementId).value.replace(/\n/g, '').split(',');
  }

</script>