---
layout: default
permalink: /loja/
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2016-08-11T19:40:30-03:00
---
<div class="page-title">
  <img width="96" height="96" src="/imgs/icone-loja.png"><br>
  <h1>Venda de Usados</h1>
</div>



<div class="home">

  <p align="center" style="padding-bottom:20px">
    Você pode encontrar os joguinhos que estou vendendo no Mercado Livre<br>(só clicar no logo abaixo):
  </p>

  <p align="center" style="display:flex; justify-content:center; align-items:center">
    <a href="https://vgscomcerveja.mercadoshops.com.br" target="_blank">
      <img src="/imgs/mercado-livre-logo.jpg">
    </a>
  </p>

  <p>
    <img src="/imgs/loja.jpg">
  </p>

</div>

{% include side-menu.html %}

<div class="wrapper">
  {% include disqus.html %}
</div>
