---
layout: default
permalink: /loja/
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2016-08-11T19:40:30-03:00
---
<div class="page-title">
  <img width="96" height="96" src="/imgs/icone-loja.png"><br>
  <h1>Venda de Usados</h1>
</div>



<div class="home">

  <p align="center" style="padding:20px; font-weight: normal;">
    Você pode encontrar os joguinhos que estou vendendo nos marketplaces por aí, é só escolher e chamar que dá negócio:
  </p>

  <p style="display:flex; justify-content:center; align-items:center">
    <a href="https://www.enjoei.com.br/@felipe037" target="_blank" title="Enjoei">
      <img src="/imgs/enjoei.png" height="120px" alt="Enjoei logo">
    </a>
    <a href="https://www.olx.com.br/perfil/felipebbarbosa-4a6fc5b4" target="_blank" title="OLX">
      <img src="/imgs/olx.png" height="120px" alt="OLX logo">
    </a>    
  </p>

  <p>
    <img src="/imgs/loja.jpg">
  </p>

  <h2 style="margin-left:40px">Reputação no OLX</h2>

  <p>
    <object data="https://avaliacoes.olx.com.br/vendedor/4a6fc5b4-6241-43b1-8236-60f6252c8c59" 
        width="90%" height="600"></object>

  </p>

</div>

{% include side-menu.html %}

<div class="wrapper">
  {% include comments.html %}
</div>
