---
layout: default
permalink: /felipebbarbosa
---
<div class="page-title">
  <img width="96" height="96" src="/imgs/felipebbarbosa.png"><br>
  <h1>Olá, sou o Felipe!</h1>
</div>

<div class="home full post-content">
  <p>
    Meu nome é <b>Felipe B. Barbosa</b>, sou desenvolvedor de softwares, tenho trinta e poucos anos e moro no interior de São Paulo. 
    Videogames estão na minha vida desde que me conheço por gente com o <b>Atari 2600</b> da minha irmã mais velha. 
    Mas depois veio o <b>Master System</b>, <b>Super Nintendo</b>, <b>PlayStation</b> e por aí foi até eu decidir colecionar de vez, em 2010.
  </p>

  <p>
    Uma coisa bacana é que aqui em casa, tivemos a felicidade de sempre mantermos nossos consoles 
    velhos guardados <b>sem ter a necessidade de vendê-los</b> para comprar um novo. 
    Então, quando decidi que iria começar a colecionar, eu já tinha alguns <a href="/post/inicio-da-colecao">itens bem legais na coleção</a>.
  </p>

  {% include image.html 
      url="/imgs/pages/felipebbarbosa/inicio_colecao_videogames.jpg"
      description="Quando decidi colecionar, eu já tinha todos esses games da infância! 🥰" %}

  <p>
    <b>Sempre gostei de colecionar coisas</b>, já colecionei embalagens de cigarros, 
    latinhas de cervejas e cartões telefônicos (inclusive, tenho quase todas essas coleções até hoje guardadas). 
    Porém, quando comecei a ganhar meu próprio dinheiro, colecionar videogames se tornou meu hobby predileto.
  </p>

  <p>
    O foco da minha coleção são <b>os jogos</b>, tenho os videogames basicamente para ter onde rodar os jogos, 
    não faço muita questão de tê-los nas caixas e nem variações do mesmo aparelho. Mas confesso que é mais por falta de espaço mesmo, 
    pois acho sensacional coleções de consoles! 😎
  </p>

  <p>
    Atualmente tenho por volta de 1.200 jogos e 50 consoles, sendo que a maior parte deles são jogos do 
    PlayStation 3, PlayStation 4, Xbox 360, Master System (meu xodó) e PC (principalmente as big boxes), mas <b>coleciono um pouco de tudo</b>.
  </p>

  <p>
    Porém, tenho uma "tara" meio estranha por <b>lançamentos nacionais de jogos</b> e esse é um dos principais motivos para criar esse blog
    e também o <a href="https://blog.colecionando.games" target="_blank"><b>Colecionando.Games</b></a> dedicado ao colecionismo, 
    pois muitas vezes é muito difícil encontrar informações sobre eles na internet.
  </p>

  <p>
    Uma coisa que também gosto de fazer é registrar todos os jogos que já terminei na vida e venho fazendo isso
    pontualmente desde 2010, onde registro a data certinha do jogo que terminei! Se tiver a curiosidade, você pode 
    conferir <a href="/felipebbarbosa/jogos">aqui, minha <b>lista de jogos terminados</b></a>.
  </p>

  <p>
    Você também pode me encontrar nas seguintes redes sociais:
  </p>

  <div style="text-align: center;">
    {% include felipebbarbosa-social-links.html %}
  </div>
</div>


<div class="wrapper">
  {% include comments.html %}
</div>