---
layout: default
permalink: /sobre/blog/
---
<div class="page-title">
  <img width="96" height="96" src="/imgs/favicon.png"><br>
  <h1>O que é o Videogames com Cerveja?</h1>
</div>

<div class="home full post-content">
  <p>
    O <b>Videogames com Cerveja</b> é um blog independente sobre games, é aqui onde
    compartilho minhas experiências e opiniões sobre jogos eletrônicos! Por aqui você
    encontra recomendações, notícias, análises, curiosidades, listas e tudo mais que é
    relacionado á esse universo virtual que tanto gostamos! 😊
  </p>

  <h3>Histórico do blog</h3>

  <p>
    Nascido em <b>2007</b>, o blog já passou por diversas fases e reestruturações. 
    Inicialmente, era um blog sobre colecionismo em geral, mas com uma atenção 
    especial para os itens de cerveja e afins (latinhas, garrafas, tampinhas, 
    bolachas de chopp e por aí vai), que era minha coleção favorita na época.
  </p>

  <p>
    Em <b>2009</b>, resolvi focar totalmente nos itens cervejeiros e seu nome mudou 
    para <b>Felipe - Colecionismo de Cerveja!</b>
  </p>

  <p>
    Porém, em <b>julho de 2010</b>, resolvi começar a colecionar videogames, 
    minha antiga paixão de criança, e decidi começar a 
    <a href="/post/inicio-da-colecao">compartilhar sobre o assunto</a> no blog 
    também, nascendo assim o <b>Videogames com Cerveja</b>, um blog que continuava
    sendo sobre colecionar artigos cervejeiros, porém, agora com a inclusão do 
    colecionismo de videogames.
  </p>

  <p>
    Em <b>2013</b>, por questões estratégicas em querer aumentar o foco nos videogames,
    resolvi separar o blog em dois: o <b>Videogames com Cerveja</b> foi mantido, porém
    agora <b>exclusivamente</b> para os videogames. E o conteúdo cervejeiro foi 
    transferido para o <a href="http://cervejacomvideogames.blogspot.com.br"><b>Cerveja com Videogames</b></a>,
    que agora se tornou exclusivo para o colecionismo de cerveja! 🍻
  </p>

  <p>
    Em <b>abril de 2015</b>, nasceu nosso <a href="https://www.instagram.com/vgscomcerveja"><b>Instagram</b></a>, onde
    o principal propósito era divulgar a novidades do blog, mas que acabou se tornando um ecossistema à parte e o que menos se
    encontra por lá é divulgação do site.
  </p>

  <p>
    Em <b>2016</b>, o blog teve uma grande repaginada visual e foi migrado do domínio 
    <i>.blogspot.com.br</i> para um domínio próprio <i>.com.br</i>, iniciando a segunda
    fase e última fase do <b>Videogames com Cerveja</b>. 😁
  </p>

  <p>
    Foi em <b>2018</b> que nasceu nossa <a href="/newsletter"><b>VCC Newsletter</b></a>, uma newsletter gratuita de <b>curadoria de notícias</b> 
    do mundo dos games para <b>quem não acompanha de perto</b> as novidades!
  </p>

  <p>
    E como se não bastasse toda essas mudanças, em <b>2021</b> resolvi separar mais uma 
    vez as coisas, criando o <a href="https://blog.colecionando.games"><b>Colecionando.Games</b></a>,
    um site totalmente focado no <b>colecionismo de videogames</b> e bem menos pessoal e de 
    opinião.
  </p>

  <h3>Redes sociais</h3>

  {% include rede-sociais.html %}

  <h3>Quem faz?</h3>

  {% include author-profile.html %}
  
</div>


<div class="wrapper">
  {% include disqus.html %}
</div>