<div class="display-flex">
  <img src="/imgs/felipebbarbosa.png" width="150px" height="150px">
  <span style="padding: 20px;">
    <b>Felipe B. Barbosa</b><br>
    Programador e entusiasta colecionador de jogos eletrônicos, desde 2010. 
    Acredita-se que seu jogo favorito de todos os tempos seja o <b>Metal Gear Solid</b>, mas não tem certeza disso! :P
    <br><br>
    <b>Redes sociais:</b><br>
    {% include felipebbarbosa-social-links.html %}
    <br><br>
    <a href="/felipebbarbosa/jogos" class="read-more">Lista de jogos terminados</a>
  </span>
</div>
