{% assign games = site.data.finished-games[include.platform] %}
{% assign platform = site.data.platforms[include.platform] %}

<h3>{{ platform.nome }}</h3>
<h5>{{ games.size }} total</h5>

<table>
{% for game in games %}
  <tr>
    <td width="50px" style="text-align:center">
      {% if game.status %}
        <img src="/imgs/status-{{ game.status }}.png"/>
      {% endif %}
    </td>
    <td>
      {% if game.link %}
        <a href="{{ game.link }}">{{ game.nome }}</a>
      {% else %}
        {{ game.nome }}
      {% endif %}
      {% if game.platform %}
        {% assign platformLogo = site.data.platforms[game.platform].logo %}
        <img src="{{ platformLogo }}" height="16px" style="margin-left:5px"/>
      {% endif %}
      </td>
    <td width="110px">{{ game.data }}</td>
  </tr>
{% endfor %}
</table>

