<aside class="side-menu">

  <p><img src="/imgs/felipebbarbosa.png" height="150px"></p>
  <p>Olá, eu sou o Felipe e bem-vindo ao <br><b>Videogames com Cerveja</b>!</p>
  <p>Este é o lugar onde compartilho minhas experiências e opiniões gamísticas! :)</p>
  <p>Você também pode me encontrar em:</p>
  <p>{% include felipebbarbosa-social-links.html %}</p>
  <p>Não deixe de conferir nossa newsletter:</p>
  <a href="/newsletter" title="VCC Newsletter">
    <img src="/imgs/vcc-newsletter_sidebar.jpg">
  </a>

  <h2>Parceiros</h2>

  {% include parceiros.html %}

  <h2>#vgscomcerveja</h2>

  {% include instagram.html %}

  <h2>Colunas e Séries</h2>

  {% for nav in site.data.menu %}
    {% if nav.slug == 'series' %}
      {% for sub in nav.subitems %}
        <a href="{{ sub.url }}" title="{{ sub.title }}">
          <img src="{{ sub.logo }}" width="150px" style="margin:5px">
        </a>
      {% endfor %}
    {% endif %}
  {% endfor %}

  <h2>Visite nossa Loja</h2>

  <a href="/loja">
    <img src="/imgs/banner-loja.jpg">
  </a>

</aside>
