---
layout: default
---

<div class="page-title">
  <img src="{{ page.logo }}" style="margin: 20px 0; max-height: 120px; max-width: 400px;">
</div>

<div class="home">

  <div class="ficha-tecnica" style="margin-top: 20px; border: 0">
    <img border="0" src="{{ page.cover }}" style="max-width: 200px"><br>
    <h2>{{ page.title }}</h2>
    <h3>{{ page.platform }}</h3>
    <br>
    <b>Desenvolvido por: </b>{{ page.developers }}<br>
    <b>Publicado por: </b>{{ page.publishers }}<br>
    <b>Data de Lançamento: </b>{{ page.lauchdate }}<br>
    <b>Gênero: </b>{{ page.genre }}<br>
  </div>

  <div class="post-list">
    {% for post in site.tags[page.tag] %}
      {% include article-preview.html show_category="false" %}
    {% else %}
      <p>Não tem posts com esta tag!</p>
    {% endfor %}
  </div>
</div>

{% include side-menu.html %}
